<style>
    .bg-white {
      background-color: #ffffff; /* Fundo branco */
    }
    .navbar {
      border: 2px solid #cfb36a; /* Borda dourada */
    }
    .navbar-brand, .nav-link {
      color: #cfb36a !important; /* Texto dourado */
    }
    .navbar .nav-link:hover {
      color: #cfb36a !important; /* Texto dourado mais intenso no hover */
    }
    .navbar-toggler-icon {
      background-color: #cfb36a; /* Ícone de toggle dourado */
    }
  
     .botao-dourado {
      background-color: gold; /* Cor dourada */
      color: white; /* Texto branco */
      border: 2px solid gold; /* Borda dourada */
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 8px; /* Bordas arredondadas */
      transition: background-color 0.3s, transform 0.3s;
    }

    .botao-dourado:hover {
      background-color: #ffcc00; /* Tom de dourado mais claro no hover */
      transform: scale(1.1); /* Efeito de zoom */
    }
  
  </style>