<!DOCTYPE html>
<script>
        
        function enviarDados() {
            
            var dados = {
                nome: document.getElementById("nome").value,
                dataNascimento: document.getElementById("data_nascimento").value,
                cpf: document.getElementById("cpf").value,
                endereco: document.getElementById("endereco").value
            };

            // Envia os dados para o Apps Script
            google.script.run.withSuccessHandler(function(response) {
                    alert(response);
                    listarUsuario();
                }).salvarUsuario(dados);
        }


        function listarUsuario() {
            google.script.run.withSuccessHandler(preencherTabela).listarUsuarios();
        }

        // Função que preenche a tabela com os dados vindos da API
        function preencherTabela(usuarios) {
            let tabela = document.getElementById("tabela-corpo");
            tabela.innerHTML = ""; // Limpa a tabela antes de inserir os novos dados
            console.log(usuarios);
            usuarios.forEach(usuario => {
                let novaLinha = tabela.insertRow();
                novaLinha.insertCell(0).textContent = usuario.nome;
                novaLinha.insertCell(1).textContent = usuario.dataNascimento;
                novaLinha.insertCell(2).textContent = usuario.cpf;
                novaLinha.insertCell(3).textContent = usuario.endereco;
            });
        }







</script>

</html>